@media screen and (max-width: 680px)and (min-width: 500px) {
    body {
        max-width: 600px;
    }
    header {
        height: 300px;
    }
    nav ul {
        display: none;
    }
    .home-title {
        margin-top: 30px;
        font-size: 30px;
    }
    .burger-menu {
        display: block;
    }
    .burger-menu ul {
        width: 0px;
        height: 40px;
        float: right;
        display: flex;
        flex-direction: column;
        right: 50px;
        background-image: url(../img/menu.png);
        background-size: cover;
        overflow: hidden;
        text-overflow: hidden;
        position: absolute;
    }

    .burger-menu ul:hover {
        width: 130px;
        height: 290px;
        float: right;
        margin-top: -20px;
        background-image: none;
        position: absolute;
        background-color: rgb(215, 128, 237);
        border: 2px groove black;
        border-radius: 9px;
    }
    .burger-menu ul li {
        font-size: 25px;
        list-style-type: none;
        text-align: left;
    }

    .burger-menu ul li:hover {
        text-shadow: 2px 2px 4px black, 0 0 1em black;
    }
    .stiky {
        display: none;
    }
    .absolute {
        position: absolute;
        width: 32px;
        height: 4000px;
    }
    .bxright {
        width: 19%;
        height: 400px;
        float: left;
    }
    .bxslider {
        width: 80%;
        height: 400px;
        float: left;

    }
    .arrow-up {
        display: block;
        width: 32px;
        height: 32px;
        top: 200px;
        left: 20px;
        position: sticky;
    }
    .arrow{
    margin-top: 100px;
}
    .article-4 h4 {
        margin: 50px 0 0 30px;
        font-size: 16px;
    }

    .article-4 h6 {
        margin: -50px 0 0 30px;
        font-size: 12px;
    }
    .first-section h2 {
        display: none;
    }
    aside {
        display: none;
    }
    .first-article {
        width: 50%;
        height: 500px;
    }
    .first-section {
        width: 100%;
        height: 500px;
    }

    .first-figure {
        width: 250px;
        height: 333px;
        border: 4px groove black;
        border-radius: 10px;
    }

    .first-figure img {
        width: 250px;
        height: 333px;
    }
    .second-article p {
        font-size: 20px;
        margin-top: 0;
        text-align: left;
    }

    .second-article h4 {
        font-size: 30px;
        margin-top: 0;
        text-align: left;
    }
    .aside-stiky2 {
        display: none;
    }
    .section-skill {
        width: 100%;
        height: 600px;
    }
    .article3 {
        width: 100%;
        height: 500px;
    }
    .article3 figure {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .aside-stiky6 {
        display: none;
    }

    .article-6 {
        width: 100%;
    }
    .article-6 a {
        font-size: 20px;
    }
    .article-6 a img {
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .section-contact .article-5 .inp-name {
        margin: 10px 0 -50px 0;
    }

    .section-contact .article-5 .inp-message {
        margin: 10px 0 0px 0;
    }

    .button-send {
        margin: 10px 0 -50px 0;
    }
    #message-box {
        margin-left: 20%
    }

}
